services:
  backend:
    build:
      context: .
      dockerfile: ./apps/backend/Dockerfile
    env_file:
      - apps/backend/.env
    volumes:
      - ./apps/backend:/usr/src/app/apps/backend
      - ./packages:/usr/src/app/packages
    ports:
      - '3000:3000'